h2 {
    color: orange;
    text-decoration: overline;
    text-decoration-color: red;
}

h3 {
    color: purple;
    text-decoration: line-through;
}

h1 {
    text-decoration: underline;
    text-decoration-style: wavy;
}

p {
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-thickness: 4px;
}
