.prev, .next {
    position: absolute;
    top: 50%;
    padding: 20px;
    filter: invert(1);
}

.next {
    right: 10px;
}

body {
    margin: 0;
}

.prev:hover, .next:hover {
    filter: invert(0.7);
    cursor: pointer;
    transform: scale(1.1);
}