h1 {
    text-align: left;
    font-size: 11px;
    font-family: serif;
}

h2 {
    text-align: center;
    font-size: 75px;
    font-family: sans-serif;
    /* color: rgb(0, 255, 255); */
    /* color: #ffffff; */
}

h3 {
    text-align: right;
    font-family: fantasy;
}

h4 {
    font-family: monospace;
}

h5 {
    font-family: cursive;
}

/* p {
    text-align: justify;
} */

body {
    background-color: red;
}